h1 {
    text-decoration: underline;
    color:red;
    font-size: 50px;
}
main {
    border: 2.5px solid #000;
    padding: 10px;
    margin 10px;
}
#section1 p {
    text-decoration: italic;
}
#section3 {
    border: 2.5px solid #000;
    padding: 10px;
    margin 10px;
}
main h2 {
    text-decoration: underline;
}
main p{
    color:blue;
}
#section3 h2 {
    text-decoration: underline;
    text-align: center;
    background-color: green;
}
#section3 h3 {
    text-align: center;
    background-color: green;
    }
#section3 p {
    text-align: center;
    color:white;
    background-color: green;
}
body {
    font-family: "Poppins", Helvetica, sans-serif;
}
#section2{
    border-style: dotted;
    border-color: black;
    padding: 10px;
    margin: 20px;
}